<div id="about">
  <div class="profile"></div>
  <h1>
    I'm <b>Nick Pezza,</b> a developer building with
    <span style="background: #e9573f">Ruby</span>
    <span style="margin-left: -10px">,</span>
    <span style="background: #dea584">Rust</span>
    <span style="margin-left: -10px">, and</span>
    <span style="background: #f7df1e">Javascript</span>
    <span style="margin-left: -10px">.</span>
  </h1>

  <hr>

  <p>
    I currently work at
    <a href="https://beehiiv.com">beehiiv</a>
    from Angier, NC. Scroll down to check out some of the projects I've
    created or contributed to, or check out what I'm currently building over on
    <a href="https://www.github.com/npezza93">GitHub</a>.
  </p>
</div>
