<div id="contact">
  <div class="contact-container">
    <h1 class="upcase"><span class="slash">#</span> contact</h1>

    <form action="mailto:hi@pezza.co" accept-charset="UTF-8" enctype="text/plain" method="GET">
      <input type="hidden" name="subject" value="Hello, Nick!" id="email_subject">
      <input type="text" name="subject" value="" id="email_subject" placeholder="Your Name" required="required">

      <div class="input-border"></div>
      <input type="email" name="email" id="email_email" placeholder="Your Email" required="required">
      <div class="input-border"></div>

      <div class="grow-wrap">
        <textarea data-min-rows="2" id="email_msg" name="body" placeholder="Your Message" required=""></textarea>
        <div class="input-border"></div>
      </div>

      <button aria-label="Contact" class="submit" type="submit">
        <i class="far fa-paper-plane"></i>
      </button>
    </form>

    <div class="social">
      <a href="https://github.com/npezza93" class="social-container">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/nick-pezza-02166668" class="social-container">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
  </div>
</div>
