<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nick Pezza. Hey there! I'm a freelance web developer and Ruby on Rails consultant building cool things. Working Not Working">
    <meta name="theme-color" content="#fff">
    <meta name="view-transition" content="same-origin">
    <meta name="turbo-refresh-scroll" content="preserve">

    <title>Nick Pezza - Freelance Web Developer and Ruby on Rails Consultant</title>
    <link href="/assets/images/logo.png" rel="icon" type="image/png">

    <link href="/assets/stylesheets/site.css" rel="stylesheet" data-turbo-track="reload">
    <link href="/assets/stylesheets/normalize.css" rel="stylesheet" data-turbo-track="reload">
    <link href="/assets/stylesheets/scroller.css" rel="stylesheet" data-turbo-track="reload">
    <link href="/assets/stylesheets/about.css" rel="stylesheet" data-turbo-track="reload">
    <link href="/assets/stylesheets/contact.css" rel="stylesheet" data-turbo-track="reload">
    <link href="/assets/stylesheets/heading.css" rel="stylesheet" data-turbo-track="reload">
    <link href="/assets/stylesheets/projects.css" rel="stylesheet" data-turbo-track="reload">
    <link href="/assets/stylesheets/animations.css" rel="stylesheet" data-turbo-track="dynamic">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" async="true">

    <script src="/assets/javascripts/index.js" type="module" data-turbo-track="reload"></script>
    <script src="/assets/javascripts/turbo.min.js" type="module" data-turbo-track="reload"></script>
  </head>
<body class="<!--# echo var="classes" -->">
