<section id="posts">
  <div class="posts-container">
    <div class="header-container">
      <h1 class="upcase section-header">
        <span class="slash">#</span>
        posts
      </h1>
    </div>
    <div class="post-list">
      <a class="post-card" href="/posts/dynamic-nested-forms-with-turbo-3786">
  <h2>Dynamic nested forms with Turbo</h2>
  <div class="post-card-date">June 4, 2022</div>
</a>
<a class="post-card" href="/posts/how-to-paginate-items-using-turbo-1862">
  <h2>How to paginate items using Turbo</h2>
  <div class="post-card-date">December 22, 2020</div>
</a>
<a class="post-card" href="/posts/redisearch-on-rails-581p">
  <h2>RediSearch on Rails</h2>
  <div class="post-card-date">August 3, 2019</div>
</a>
<a class="post-card" href="/posts/using-minitest-s-seed-value-to-track-down-order-dependent-flaky-tests-119a">
  <h2>Using Minitest&#39;s seed value to track down order-dependent flaky tests</h2>
  <div class="post-card-date">July 18, 2019</div>
</a>

    </div>
  </div>
</section>
