#about
  .profile
  %h1
    I'm
    %b Nick Pezza,
    a developer building with
    %span{ style: "background: #e9573f" } Ruby
    %span{ style: "margin-left: -10px" } ,
    %span{ style: "background: #dea584" } Rust
    %span{ style: "margin-left: -10px" } , and
    %span{ style: "background: #f7df1e" } Javascript
    %span{ style: "margin-left: -10px" } .
  %hr
  %p
    I currently work at
    = link_to "Working Not Working", "https://workingnotworking.com"
    from Angier, NC. Scroll down to check out some of the projects I've
    created or contributed to, or check out what I'm currently building over on #{link_to "GitHub", "https://www.github.com/npezza93"}.
